[defaults]
inventory = inventory
gathering = smart
fact_caching = jsonfile
fact_caching_connection = facts
fact_caching_timeout = 7200
stdout_callback = yaml
bin_ansible_callbacks = True

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=300s
pipelining = True

